@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  h3 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
  }

  .navbar-toggler {
    background: transparent;
    border: 0;
    padding: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav {
    gap: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .navbar-toggler-icon {
    width: 28px;
    height: 23px;
    background-image: url("../images/hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .footer-nav {
    gap: 30px;
  }

  .footer {
    padding: 45px 0;
  }

  .orientation {
    max-width: 700px;
  }

  .orientation__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }

  .orientation__item img {
    width: 100%;
    height: 238px;
  }

  .jumpstart {
    flex-direction: column;
  }

  .jumpstart__content {
    padding: 80px 50px;
    justify-content: flex-start;
  }

  .orientation-timeline {
    flex-direction: column;
  }

  .training-area .orientation-timeline {
    gap: 80px;
  }

  .direct-employment__intro {
    max-width: 300px;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact__image {
    height: 600px;
    width: 100%;
  }

  .contact__image,
  .contact__content {
    flex: none;
  }

  .contact__main {
    padding: 0 50px;
    margin-left: 0;
    max-width: 100%;
  }

  .contact__content {
    padding: 80px 0;
    width: 100%;
  }

  .demographic-info__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100%;
    padding: 0 25px;
  }

  h1 {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -1.35px;
  }

  .heading-1 {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -1.35px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: -1.35px;
  }

  h3 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
  }

  h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .desc--lg {
    font-size: 18px;
    line-height: 24px;
  }

  .hero__overlay {
    padding: 25px;
  }

  .custom__btns {
    gap: 20px;
  }

  .hero__list li p {
    line-height: 21px;
  }

  .line-heading svg {
    width: 220px;
  }

  .hero .line-heading svg,
  .hero-others .line-heading svg {
    bottom: -20px;
  }

  .line-heading--small svg {
    bottom: -30px;
  }

  .hero__list {
    padding-left: 15px;
  }

  .program__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 30px;
  }

  .orientation__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .orientation__item img {
    height: auto;
  }

  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .footer__content {
    padding: 0 25px;
  }

  .copyrights {
    margin-bottom: 10px;
  }

  .footer__content {
    padding: 0;
  }

  .navbar-brand__divider {
    height: 45px;
  }

  .navbar-brand {
    gap: 15px;
  }

  .navbar-brand .power__logo {
    height: 30px;
  }

  .navbar-brand .default__logo {
    height: 20px;
  }

  .footer .navbar-brand .power__logo {
    height: 38px;
  }

  .footer .navbar-brand .default__logo {
    height: 28px;
  }

  .navbar {
    padding: 12.5px 15px;
  }

  .about__top {
    flex-direction: column;
    gap: 30px;
  }

  .about__top .about__item {
    padding-bottom: 0;
  }

  .about__bottom {
    border-top: 0;
  }

  .about__logo {
    height: auto;
  }

  .about__logo--power {
    height: 60px;
  }

  .about__logo--default {
    height: 40px;
  }

  .hero-others h1 {
    text-align: center;
  }

  .orientation-timeline {
    gap: 50px;
  }

  .orientation-curriculum__row {
    min-width: 700px;
  }

  .orientation-curriculum__table {
    overflow-x: auto;
  }

  .jumpstart .hero__content {
    max-width: 100%;
  }

  .jumpstart__content {
    padding: 80px 25px;
  }

  .training-area .orientation-timeline {
    gap: 50px;
  }

  .direct-employment__content {
    flex-direction: column;
  }

  .direct-employment__intro {
    max-width: 100%;
  }

  .direct-employment__intro-bottom {
    padding-top: 15px;
  }

  .program-area,
  .orientation-area,
  .direct-employment-area {
    padding: 80px 0;
  }

  .contact__main {
    padding: 0 25px;
  }

  .demographic-info__inputs {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .input__item--address {
    grid-column: auto;
  }

  .col-2-inputs {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    width: 100%;
  }

  .col-2-inputs .input__item {
    width: 100%;
  }

  .signup__form-col-item .form-check__inputs {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    width: 100%;
  }

  .input__item--combined-annual input,
  .form-check__input-combined .input-style {
    width: 100%;
  }

  .form-check__input--education {
    grid-column: auto;
  }

  .form-check__attend-inputs {
    flex-direction: column !important;
  }

  .form-check__area,
  .signup__form-explain-item .input__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .form-check__inputs {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .form-check__attend-inputs-right .input-style {
    width: 150px;
  }

  .form-check__attend-inputs-right .form-check__input-combined:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }

  .signup__form-area {
    padding-bottom: 40px;
  }
}
